body{

display:flex;

justify-content:center;

align-items:center;

}

.login-container{

width:100%;

max-width:430px;

padding:20px;

}

.login-card{

background:rgba(20,33,61,.92);

backdrop-filter:blur(20px);

padding:40px;

border-radius:18px;

box-shadow:

0 20px 60px rgba(0,0,0,.45);

text-align:center;

}

.login-card h1{

font-size:60px;

margin-bottom:10px;

}

.login-card h2{

margin-bottom:5px;

}

.login-card p{

color:#94a3b8;

margin-bottom:30px;

}

.login-card button{

margin-top:10px;

}

#message{

margin-top:20px;

font-size:14px;

color:#f87171;

min-height:20px;

}

#forgot{

display:inline-block;

margin-top:15px;

font-size:14px;

}

.login-card input{

margin-bottom:18px;

}
