.menu{
display:flex;
gap:10px;
margin:25px 0;
flex-wrap:wrap;
}

.menu-btn{
padding:12px 20px;
background:#1e293b;
color:white;
border-radius:10px;
cursor:pointer;
transition:0.3s;
border:1px solid transparent;
}

.menu-btn:hover{
background:#2563eb;
}

.menu-btn.active{
background:#2563eb;
border-color:#1f7ae0;
}

.tab{
display:none;
}

.tab.active{
display:block;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th{
background:#0f172a;
padding:15px;
text-align:left;
font-weight:600;
color:var(--accent);
text-transform:uppercase;
font-size:12px;
}

td{
padding:15px;
border-bottom:1px solid var(--border);
}

tr:hover{
background:#172554;
}

.action{
padding:8px 12px;
border-radius:8px;
font-size:13px;
margin-right:5px;
border:none;
cursor:pointer;
transition:0.2s;
}

.edit{
background:#0284c7;
color:white;
}

.edit:hover{
background:#0369a1;
}

.delete{
background:#dc2626;
color:white;
}

.delete:hover{
background:#b91c1c;
}

@media(max-width:900px){
table{
display:block;
overflow-x:auto;
font-size:14px;
}

td, th{
padding:10px;
}

.menu{
flex-direction:column;
}

.menu-btn{
width:100%;
}
}
